@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply text-white bg-gray-900; /* Tailwind Dark Mode */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply flex items-center justify-center min-h-screen min-w-[320px] m-0;
}

/* Links */
a {
  @apply font-medium text-blue-500 transition-colors;
}

a:hover {
  @apply text-blue-400;
}

/* Headings */
h1 {
  @apply text-4xl font-bold leading-tight;
}

/* Buttons */
button {
  @apply rounded-lg border border-transparent px-4 py-2 text-lg font-medium transition-all duration-200 bg-gray-800 hover:border-blue-500 focus:ring focus:ring-blue-500/50;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    @apply text-gray-900 bg-white;
  }

  a:hover {
    @apply text-indigo-500;
  }

  button {
    @apply bg-gray-100 text-gray-900;
  }
}
